<!DOCTYPE html>
<html>
<head>
    <title>Pixel Lab</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="4Rl6RRHgoWGVulsDkWQ5pSBhjCSYj1nQXllxOwbqt-A" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    
    {% block head %} {% endblock%}
</head>
<body>

    {% block body %}
    {% endblock %}
    {% block scripts %}{% endblock %}

</body>
</html>
