{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
{% endblock %}

{% block body %}

<div class="container">

    <h2>🖼️ Image Compressor</h2>
    <p class="subtitle">Upload an image and reduce its size</p>

    <form method="POST" enctype="multipart/form-data">

        <!-- Upload -->
        <div class="upload-box" onclick="selectImage()">

            <input type="file" name="image" id="imageInput" accept="image/*" hidden required>

            <p id="uploadText">Click to upload image</p>

            <!-- Preview Wrapper -->
            <div class="preview-wrapper" id="previewWrapper" style="display:none;">
                
                <img id="previewImage" />

                <!-- Cancel Button -->
                <span class="cancel-btn" onclick="removeImage(event)">✖</span>

            </div>

        </div>


        <!-- Slider -->
        <div class="controls">
            <label>Compression Level:</label><br><br>

            <input type="range"
                   id="qualityRange"
                   name="quality"
                   min="10"
                   max="100"
                   value="70"
                   oninput="updateValue(this.value)">

            <span id="qualityValue">70%</span>
        </div>

        <!-- Format Selection -->
        <div class="controls">
            <label>Select Output Format:</label><br><br>

            <select name="format">
                <option value="jpg">JPG (Best Compression)</option>
                <option value="png">PNG (Keep Transparency)</option>
            </select>
        </div>

        <br><br>
        <button type="submit">Compress & Download</button>

    </form>

</div>

{% endblock %}

{% block scripts %}
<script>
function updateValue(val) {
    document.getElementById("qualityValue").innerText = val + "%";
}

function selectImage() {
    document.getElementById("imageInput").click();
}

const input = document.getElementById("imageInput");
const preview = document.getElementById("previewImage");
const text = document.getElementById("uploadText");
const wrapper = document.getElementById("previewWrapper");

input.addEventListener("change", function () {
    const file = this.files[0];

    if (file) {
        preview.src = URL.createObjectURL(file);
        wrapper.style.display = "block";
        text.style.display = "none";
    }
});

function removeImage(event) {
    event.stopPropagation(); // prevent upload box click

    input.value = ""; // clear file input
    preview.src = "";
    wrapper.style.display = "none";
    text.style.display = "block";
}
</script>
{% endblock %}